@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --Cblue: #002447;
  --Csblue: #53d3d1;
  --Ccream: #fbeceb;
  --Corange: #feb249;
}

* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

a,
a * {
  cursor: pointer !important;
}

body {
  background-color: var(--Corange);
  width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  max-width: 100vw;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(91, 91, 91, 0.286);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Csblue);
  border-radius: 10px;
  border: 2px solid rgba(0, 35, 71, 0.368627451);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--Cblue);
}

/* navbar */
.NavHeading {
  text-shadow: 2px 2px 3.3px rgba(0, 0, 0, 0.32);
  font-weight: 800;
  letter-spacing: 1px;
}

/* main section */
#main h2 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  line-height: 25px;
}
#main h1 {
  letter-spacing: 1.22222px;
  color: var(--Ccream);
  text-shadow: 0px 4.88889px 6.35556px rgba(0, 0, 0, 0.65);
}
#main .timer > div {
  border-radius: 8px;
  font-size: 45px;
  text-align: center;
  width: 85px;
  padding: 0 5px;
  aspect-ratio: 1/1;
  background: rgba(22, 47, 71, 0.1);
  border: 1px solid #173047;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  border-radius: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: var(--Ccream);
  padding-bottom: 3px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.65);
}
#main .timer > div div {
  font-size: 16px;
  text-transform: capitalize;
}

/* partner section */
#Partners .PartnerTopRight {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
#Partners .PartnerTopRight::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: var(--Cblue);
  position: absolute;
  left: -30%;
  bottom: -30%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
#Partners .PartnerLogoBox {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
#Partners .PartnerLogoBox::after {
  content: "";
  width: 10px;
  height: 80px;
  background-color: var(--Cblue);
  position: absolute;
  left: -15px;
  z-index: 10;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
#Partners .PartnerLogoBox::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  right: -8px;
  z-index: 10;
  background: url("/images/PartnersCircle.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media (max-width: 768px) {
  .PartnerLogoBox:nth-child(2n) {
    align-self: flex-end;
    margin-right: 15px;
    transform: rotateY(180deg);
  }
  .PartnerLogoBox:nth-child(2n) img {
    transform: rotateY(180deg);
  }
  .PartnerLogoBox:nth-child(2n+1) {
    align-self: flex-start;
    margin-left: 15px;
  }
}
/* timeline section */
:root {
  --base: #140a15;
  --black: #0b0404;
  --shade1: #77bee7;
  --shade2: #3a9bd4;
  --shade3: #01171f;
  --shade4: #062631;
  --text1: white;
}

#timeline {
  width: 80vw;
  color: white;
}
#timeline .timelineContent {
  width: 75lvw;
  overflow: visible;
}
#timeline .timelineContent .timelineTextBox {
  @apply p-12;
  position: relative;
  overflow: visible;
  border-radius: 6rem;
}
#timeline .timelineContent .timelineTextBox .border {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border: 0.5rem solid var(--Cblue);
  z-index: 1;
}
#timeline .timelineContent .timelineTextBox:after {
  @apply text-4xl animate-jiggleCus;
  position: absolute;
  content: "1";
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--Corange);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  top: 50%;
  border: 0.5rem solid var(--Cblue);
  z-index: 2;
}
#timeline .timelineContent .timelineTextBox:nth-child(2n+1)::after {
  left: -2.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(2n+1) .border {
  border-radius: 6rem 0 0 6rem;
  border-right: none;
  left: 0px;
}
#timeline .timelineContent .timelineTextBox:nth-child(2n) {
  text-align: right;
}
#timeline .timelineContent .timelineTextBox:nth-child(2n)::after {
  right: -2.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(2n) .border {
  right: 0px;
  border-radius: 0 6rem 6rem 0;
  border-left: none;
}
#timeline .timelineContent .timelineTextBox:nth-child(1) {
  background: none;
}
#timeline .timelineContent .timelineTextBox:nth-child(1) .border {
  border-top: none;
  overflow: visible;
  border-radius: 0rem 0rem 0rem 6rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(1) .border::after {
  content: "";
  position: absolute;
  background: var(--Corange);
  width: 0.5rem;
  height: 50%;
  top: 0;
  left: -0.5rem;
}
#timeline .timelineContent .timelineTextBox:last-child .border {
  border-bottom: none !important;
  overflow: visible;
}
#timeline .timelineContent .timelineTextBox:last-child .border::after {
  content: "";
  position: absolute;
  background: var(--Corange);
  width: 0.5rem;
  height: 50%;
  bottom: 0;
}
#timeline .timelineContent .timelineTextBox:last-child:nth-child(odd) .border {
  border-radius: 6rem 0rem 0rem 0 !important;
}
#timeline .timelineContent .timelineTextBox:last-child:nth-child(odd) .border::after {
  left: -0.5rem;
}
#timeline .timelineContent .timelineTextBox:last-child:nth-child(even) .border {
  border-radius: 0rem 6rem 0rem 0rem !important;
}
#timeline .timelineContent .timelineTextBox:last-child:nth-child(even) .border::after {
  right: -0.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(2) {
  top: -0.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(2)::after {
  content: "2";
}
#timeline .timelineContent .timelineTextBox:nth-child(3) {
  top: -1rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(3)::after {
  content: "3";
}
#timeline .timelineContent .timelineTextBox:nth-child(4) {
  top: -1.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(4)::after {
  content: "4";
}
#timeline .timelineContent .timelineTextBox:nth-child(5) {
  top: -2rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(5)::after {
  content: "5";
}
#timeline .timelineContent .timelineTextBox:nth-child(6) {
  top: -2.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(6)::after {
  content: "6";
}
#timeline .timelineContent .timelineTextBox:nth-child(7) {
  top: -3rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(7)::after {
  content: "7";
}
#timeline .timelineContent .timelineTextBox:nth-child(8) {
  top: -3.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(8)::after {
  content: "8";
}
#timeline .timelineContent .timelineTextBox:nth-child(9) {
  top: -4rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(9)::after {
  content: "9";
}
#timeline .timelineContent .timelineTextBox:nth-child(10) {
  top: -4.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(10)::after {
  content: "10";
}
#timeline .timelineContent .timelineTextBox:nth-child(11) {
  top: -5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(11)::after {
  content: "11";
}
#timeline .timelineContent .timelineTextBox:nth-child(12) {
  top: -5.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(12)::after {
  content: "12";
}
#timeline .timelineContent .timelineTextBox:nth-child(13) {
  top: -6rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(13)::after {
  content: "13";
}
#timeline .timelineContent .timelineTextBox:nth-child(14) {
  top: -6.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(14)::after {
  content: "14";
}
#timeline .timelineContent .timelineTextBox:nth-child(15) {
  top: -7rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(15)::after {
  content: "15";
}
#timeline .timelineContent .timelineTextBox:nth-child(16) {
  top: -7.5rem;
}
#timeline .timelineContent .timelineTextBox:nth-child(16)::after {
  content: "16";
}
#timeline .timelineContent .timelineTextBox h2 {
  @apply text-3xl lg:text-5xl;
  font-weight: 700;
  text-shadow: 1px 1px 3px var(--Cblue);
}
#timeline .timelineContent .timelineTextBox .position,
#timeline .timelineContent .timelineTextBox .date {
  @apply text-xl lg:text-2xl text-Cblue;
  font-style: italic;
  letter-spacing: 1px;
}
#timeline .timelineContent .timelineTextBox .date {
  @apply text-nowrap text-gray-500;
}
#timeline .timelineContent .timelineTextBox p {
  @apply text-xl;
  font-weight: 400;
  text-shadow: 1px 1px 1.5px var(--Cblue);
}

/* loader section */
:root {
  --rotation-y: 0;
  --rotation-x: 0;
  --size: 80vmin;
  --segment: calc(var(--size) / 100);
  --loading-speed: 5s;
  --color: #002447;
  --total-length: 400;
  --segments-per-second: calc(var(--loading-speed) / var(--total-length));
}

.loader {
  display: grid;
  place-items: center;
  height: 100dvh;
  width: 100vw;
  @apply bg-Corange;
  font-family: "Google Sans", sans-serif, system-ui;
  box-sizing: border-box;
  transform-style: preserve-3d;
  touch-action: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* Perhaps it makes more sense for each segment to have its own keyframe */
  /* We know how each keyframes work... */
  /**
  * 1. Start at 0% plus delay% with scaleX(0). We can normalize the keyframes by dividing 100 / 400 to get a keyframe step.
  * 2. Then by the length%, 100% scaleX(1). 
  * 3. That's it. Then we don't need delays. Set the animation-name and forget.
  * */
  /* Keyframes Step = 100 / 400 = 0.25 */
  /**
  * Step: 100 / 400 = 0.25% ;
  * Start: --delay * step || previous ending frame;
  * End: (--delay + --length) * step || The next --delay * step;
  * */
}
.loader *,
.loader *:after,
.loader *:before {
  box-sizing: border-box;
  transform-style: preserve-3d;
  touch-action: none;
}
.loader #flip:checked ~ .container {
  --rotation-y: -24;
  --rotation-x: -24;
}
.loader [for] {
  transform: translateZ(200vmin);
  position: fixed;
  inset: 0;
}
.loader .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.loader .loading-label {
  position: absolute;
  left: 0;
  bottom: 110%;
  font-weight: bold;
  font-size: clamp(1rem, var(--size) * 0.025, 6rem);
}
.loader .container {
  width: var(--size);
  aspect-ratio: 16/1.25;
  position: relative;
}
.loader .scene {
  height: 100%;
  width: 100%;
  transform: translate3d(0, 0, 100vmin) rotateX(calc(var(--rotation-y, 0) * 1deg)) rotateY(calc(var(--rotation-x, 0) * 1deg));
  transition: transform 0.25s;
}
.loader h1 {
  opacity: 0.5;
  color: var(--color);
  font-size: calc(var(--depth, 20vmin) * 1);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 0;
}
.loader .bar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: var(--columns);
}
.loader .bar__segment {
  background: hsl(0, 0%, 100%);
  transform: translateZ(calc(var(--depth) * var(--segment)));
  border: calc(var(--segment) * 0.5) solid black;
}
.loader .bar__segment:after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color);
  transform-origin: 0 50%;
  /* 	animation: reveal both linear; */
  animation-name: var(--name);
  animation-duration: var(--loading-speed);
  /*   animation-duration: calc(var(--length) * var(--segments-per-second)); */
  /*   animation-delay: calc(var(--delay) * var(--segments-per-second)); */
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes reveal {
  from {
    transform: scaleX(0);
  }
}
.loader .bar__segment:not(:first-of-type, :last-of-type) {
  border-left: transparent;
  border-right: transparent;
}
.loader .bar__segment:first-of-type {
  border-right: transparent;
}
.loader .bar__segment:last-of-type {
  border-left: transparent;
}
.loader .bar__segment:not(.bar__segment--aligned) {
  width: calc(var(--segment) * var(--length));
  transform-origin: 0 50%;
  filter: brightness(0.78);
  transform: translateZ(calc(var(--depth) * var(--segment))) rotateY(var(--rotation, 0deg));
}
.loader .bar__segment--front {
  --rotation: -90deg;
}
.loader .bar__segment--back {
  --rotation: 90deg;
}
@keyframes segment-1 {
  0% {
    transform: scaleX(0);
  }
  5%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-2 {
  0%, 5% {
    transform: scaleX(0);
  }
  12.5%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-3 {
  0%, 12.5% {
    transform: scaleX(0);
  }
  15%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-4 {
  0%, 15% {
    transform: scaleX(0);
  }
  27.5%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-5 {
  0%, 27.5% {
    transform: scaleX(0);
  }
  30%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-6 {
  0%, 30% {
    transform: scaleX(0);
  }
  45%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-7 {
  0%, 45% {
    transform: scaleX(0);
  }
  47.5%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-8 {
  0%, 47.5% {
    transform: scaleX(0);
  }
  65%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-9 {
  0%, 65% {
    transform: scaleX(0);
  }
  70%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-10 {
  0%, 70% {
    transform: scaleX(0);
  }
  82.5%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-11 {
  0%, 82.5% {
    transform: scaleX(0);
  }
  90%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-12 {
  0%, 90% {
    transform: scaleX(0);
  }
  95%, 100% {
    transform: scaleX(1);
  }
}
@keyframes segment-13 {
  0%, 95% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

#Sponsors p,
#Sponsors a {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.577);
}
#Sponsors .sponsorScroll {
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  /* width */
  /* Track */
  /* Handle */
}
#Sponsors .sponsorScroll > div {
  scroll-snap-align: center;
}
#Sponsors .sponsorScroll::-webkit-scrollbar {
  height: 10px;
}
#Sponsors .sponsorScroll::-webkit-scrollbar-track {
  background: var(--Cblue);
}
#Sponsors .sponsorScroll::-webkit-scrollbar-thumb {
  background: var(--Corange);
  border-radius: 10px;
}

#faqs {
  background: url("/images/FaqsBackgrounds.png");
  background-size: contain;
}

#team {
  background-color: var(--Cblue);
  background-image: url("/images/TeamBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.flare {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(32, 32, 32, 0.8549019608);
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  /* Let's hide the default cursor so it looks way better */
}
.flare::before {
  content: "";
  box-shadow: 2px 2px 10px rgb(46, 46, 46), -2px -2px 8px rgb(46, 46, 46);
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid rgba(32, 32, 32, 0.8078431373);
  border-radius: 50%;
  z-index: 999998 !important;
  transition: width 3s ease-in-out, height 0.3s ease-in-out;
}

/* We need to remove this custom cursor in mobile devices */
@media screen and (max-width: 768px) {
  .flare {
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
  .flare::before {
    content: "";
    display: none;
  }
  .flare.pointer {
    opacity: 0 !important;
  }
}
.flare.pointer {
  mix-blend-mode: lighten;
  background-color: rgba(191, 255, 0, 0.3);
  width: 100px !important;
  height: 100px !important;
  cursor: none !important;
  /* Let's hide the default cursor so it looks way better */
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  display: grid;
  place-content: center;
}
.flare.pointer::before {
  content: "";
  display: none;
}
.flare.pointer::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #000000;
  z-index: 9999999 !important;
  border-radius: 50%;
}

.pstable td {
  @apply border-2 p-3 border-Cblue shadow-md text-2xl;
}

.Mbutton * {
  cursor: pointer;
}
.Mbutton a {
  @apply min-w-64 drop-shadow-xl text-Ccream font-semibold capitalize text-xl bg-Cblue rounded-sm text-center py-3 relative duration-200;
}
.Mbutton a:before {
  content: "";
  @apply border-2 rounded-sm absolute top-0 left-0 -translate-x-2 -translate-y-2 drop-shadow-xl w-full h-full duration-200 transition-transform;
}
.Mbutton a:active {
  @apply translate-x-1 translate-y-1;
}
.Mbutton a:active:before {
  @apply border-b-0 border-r-0;
}
.Mbutton a:hover {
  @apply -translate-x-1 -translate-y-1;
}
.Mbutton a:hover:before {
  @apply translate-x-0 translate-y-0;
}

.hoverEffect .hoverEffectChild {
  transition: 0.3s all ease-in-out;
}
.hoverEffect:hover .hoverEffectChild {
  @apply rotate-180;
}/*# sourceMappingURL=globals.css.map */